x\* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    height: 125px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    background-color: #3498db; /* Blue color */
    color: #fff;
}

h1, h3 {
    margin: 5px 0;
}

main {
    text-align: center;
}

.intro {
    padding: 10px;
    text-align: center;
    background-color: #ecf0f1; /* Complementing accent color */
}

.heading-elements {
    margin-top: 20px;
}

.heading-elements table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #3498db; /* Blue color */
}

.heading-elements th, .heading-elements td {
    padding: 20px;
    text-align: center;
    border: 1px solid #3498db; /* Blue color */
}

.heading-elements span.code {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.heading-elements th {
    background-color: #ecf0f1; /* Complementing accent color */
}

.heading-elements tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.semantic-html {
    margin-top: 20px; /* Add some space between the tables */
}

.semantic-html table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #3498db; /* Blue color */
}

.semantic-html th, .semantic-html td {
    padding: 15px;
    text-align: center;
    border: 1px solid #3498db; /* Blue color */
}

.semantic-html span.code {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.semantic-html th {
    background-color: #ecf0f1; /* Complementing accent color */
}

.semantic-html tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td:hover {
    background-color: #3498db;
    color: #ecf0f1;
}

footer {
    padding-top: 20px;
    text-align: center;
    
}